<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="startupSection" type="TP.Common.StartupConfigurationSection, TP" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser"/>
  </configSections>
  <startupSection>
    <startupElement startupCommmand="-main" fileUri="MainWindow.xaml" displayName="Navigation" isNavigation="true"></startupElement>
    <startupElement startupCommmand="-driver" fileUri="WindowForm\DriverWindow.xaml" displayName="DriverWindow"></startupElement>
    <startupElement startupCommmand="-m1ain" fileUri="MainWindow.xaml" displayName="Navigation"></startupElement>
    <startupElement startupCommmand="-1" fileUri="1.xaml" displayName="test"></startupElement>
  </startupSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>