<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="startupSection" type="TP.Common.StartupConfigurationSection, TP" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" />
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="JZZPEntities" connectionString="metadata=res://*/JPPZModel.csdl|res://*/JPPZModel.ssdl|res://*/JPPZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=RMS_DB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JZZPEntities1" connectionString="metadata=res://*/JPPZModel.csdl|res://*/JPPZModel.ssdl|res://*/JPPZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=RMS_DB_1;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startupSection>
    <startupElement startupCommmand="-main" fileUri="MainWindow.xaml" displayName="Navigation" isNavigation="true"></startupElement>
    <startupElement startupCommmand="-driver" fileUri="WindowForm\DriverWindow.xaml" displayName="DriverWindow"></startupElement>
    <startupElement startupCommmand="-m1ain" fileUri="MainWindow.xaml" displayName="Navigation"></startupElement>
    <startupElement startupCommmand="-1" fileUri="1.xaml" displayName="test"></startupElement>
  </startupSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>