<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dispatcherConfigurationSection" type="TP.Common.CustomConfig.DispatcherConfigurationSection, TP" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net configSource="log4net.xml" />
  <!-- delivery fee caculator -->
  <dispatcherConfigurationSection>
    <deliveryFees>
      <add name="0-2.5" milesFrom="0" milesTo="2.5" deliveryFee="2.5">
        <discounts>
          <add name="0-2.5" orderFrom="0" orderTo="2.5" discountAmount="2.5" />
          <add name="2.5-10" orderFrom="2.5" orderTo="10000" discountAmount="1" />
        </discounts>
      </add>
      <add name="2.5-5" milesFrom="2.5" milesTo="5" deliveryFee="5">
      </add>
      <add name="5-10" milesFrom="5" milesTo="10" deliveryFee="10">
        <discounts>
          <add name="0-2.5" orderFrom="0" orderTo="2.5" discountAmount="2.5" />
          <add name="2.5-10" orderFrom="2.5" orderTo="10000" discountAmount="1" />
        </discounts>
      </add>
      <add name="10-100" milesFrom="10" milesTo="100" deliveryFee="100">
      </add>
    </deliveryFees>
  </dispatcherConfigurationSection>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <!-- JZZPEntities is activity -->
  <connectionStrings>
    <add name="JZZPEntities1" connectionString="metadata=res://*/JPPZModel.csdl|res://*/JPPZModel.ssdl|res://*/JPPZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=RMS_DB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JZZPEntities" connectionString="metadata=res://*/JPPZModel.csdl|res://*/JPPZModel.ssdl|res://*/JPPZModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WKN-PC\SQLEXPRESS;initial catalog=RMS_DB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!-- Id of this terminal, very important -->
    <add key="TerminalId" value="2" />
    <!-- Change origin postcode to restaurant's-->
    <add key="GecodingUrl" value="https://maps.googleapis.com/maps/api/geocode/json?address={0}&amp;region=gb&amp;key=AIzaSyDn2dywp7vKBmm9ANOdvjBLSEnNx19yCD0">
    </add>
    <add key="DirectionUrl" value="https://maps.googleapis.com/maps/api/directions/json?origin=SE78HG&amp;destination={0}&amp;key=AIzaSyDn2dywp7vKBmm9ANOdvjBLSEnNx19yCD0">
    </add>
    <add key="StaticMapUrl" value="http://maps.googleapis.com/maps/api/staticmap?size=1024x768&amp;path=enc:">
    </add>
    <add key="GMap" value="http://map.google.com?saddr=se78hg&amp;daddr={0}&amp;directionsmode=driving&amp;zoom=14" />
    <add key="GetAddressUrl" value="https://api.getaddress.io/v2/uk/se78hg?format=false&amp;api-key=UWy1TUcCUk-wkws-JT2QoQ1387" />
    <!-- Don't change. for print style -->
    <add key="PrintFile" value="PrintDocument.xaml" />
    <add key="PrintItemSampleFile" value="PrintDocumentItem.xaml" />
    <!-- Name of Restaurant image. Ignore if empty-->
    <add key="PrintResImagePath" value="res.png" />
    <!-- For Qr code-->
    <add key="QRHeight" value="50" />
    <add key="QRWidth" value="50" />
    <add key="QRMargin" value="10" />
    <add key="EnabledGMap" value="True" />
    <!-- Display this number billid in delivery tab-->
    <add key="UnBindingBillIdDisplayCount" value="10" />
    <!--For print width -->
    <add key="PrintPageWidth" value="100" />
    <!-- Font of takeaway mainform-->
    <add key="FontSize" value="14" />
    <add key="FontFamily" value="Arial Black" />
    <!-- msg showup duration(second) -->
    <add key="MsgPopupDuration" value="2" />
    <!-- default driver First Name-->
    <add key="DefaultDriverName" value="" />
    <!-- printers name-->
    <add key="PrinterNames" value="print1, print2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>